
*{
  padding:0;
  margin:0;
}

.header{
  background-color: #1F2937;
  color:white;
  height: 50px;
  
}
.main1{
  background-color: #1F2937;
  color:white;
  height:140px;
  
}
.main2{
  background-color: white;
  height:140px;
}
.main3{
  background-color: #E5E7EB;
  height:140px;
}
.main4{
  background-color: white;
  height:140px;
}
.footer{
  color:white;
  background-color: #1F2937;
  height: 50px;
}
